*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0085e4, #d04aef) ;
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #004cff;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}


.todo-app h2 img{
    width: 150px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: bisque;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    background: #ff5945;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
    
}

ul li.checked::before{
    background-image: url(check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
}


.notifbox{
    position: absolute;
    bottom: 43%;
    right: 60px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}


.notifContainer{
    bottom: 50px;
    left: 50px;
    font-size: 18px;
    width: max-content;
    background: #5585b5;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fade-in 4s linear forwards;
}

@keyframes fade-in{
    25%{
        opracity: 1;
        transform: translateY(0);
    }

    60%{
        opacity: 1;
        transform: translateY(0);
    }
}